.tags {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 12px 0;
  span {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #eee;
    color: #222;
    text-align: center;
  }
}