
.wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-height: 100vh;
  background-size: auto, contain;
  background-position: center, top center;
  background-repeat: auto, no-repeat;
  cursor: pointer;
}